@import 'queues.scss';

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

BODY {
	background-color: #f6f6f6;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#navBar {
  width: 100%;
  margin: auto;
  display: block;
  height: 100px; 
  background-color: #ff2211;
}

.container {padding: 0px;}

#container {
  width: 100%;
  max-width: 500px;
  margin: auto !important;
  display: block;
  height: auto;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 20px;
  width: 360px;
  height: 360px;
  top: 0px;
  left: 0px;
  position: absolute;
  cursor: hand;
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
}
.avatar {
  background: #222;
  width: 100%;
  height: 100%;
  display: block;
  background-size: 100% auto !important;
  background-position: center;
 background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 60px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 60px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}

A.showPointer {cursor: pointer;}