.queues-view {

	#queueBG {
	  width: 100%;
	  margin: auto;
	  display: block;
	  height: 74px; 
	  background-color: #50B685;
	  position: relative;
	}

	IMG#playAll {display: block; margin: 30px auto 10px auto;}

	.queue {
		.row {
			border-bottom: solid rgba(0, 0, 0, .1) 1px;
			padding: 20px;
			position: relative;
			height: auto;

			.left {
				display: inline-block;
				height: 100px;
				width: 100px;
				position: absolute;
    			top: 20px;
			}

			.right {
				display: block;
				width: calc(100% - 140px);
				margin-left: 120px;
				min-height: 100px;

				text-align: left;
				.show-title, .episode-duration {
					font-style: italic;
					font-size: 12px;
					line-height: 14px;
					margin-bottom: 8px; 
				}

				.episode-title {
					font-size: 18px;
					line-height: 22px; 
					margin-bottom: 16px; 
				}
			}

			.right-carot {
				background-image: url('../images/right_carot.png');
				height: 19px;
    			width: 10px;
    			position: absolute;
    			top: 63px;
    			right: 20px;
			}
		}
	}
}