<div class="queues-view">

	<div id="queueBG">
		<div class="headerTitle">My Queue</div>
			<a href="/#/catetories"><img src="images/hamburger.png" id="hamburger" /></a>
			<a href="/#/queue"><img src="images/headphone.png" id="headphone" /></a>
	</div>

	<img src="images/button_play.png" id="playAll" />

	<div class="queue">

		<div class="row" ng-repeat="episode in queueCtrl.episodes"> 
			<div class="left" style="background-image : url({{queueCtrl.getImageUrl(episode)}})"></div>

			<div class="right"> 
				<div class="show-title"> {{ queueCtrl.getShowTitle(episode) }} </div>
				<div class="episode-title"> {{ queueCtrl.getEpisodeTitle(episode) }} </div>
				<div class="episode-duration"> {{ queueCtrl.getDuration(episode) | secondsToDateTime | date:'HH:mm:ss' }} </div>
			</div>

			<div class="right-carot"></div>
		</div>

	</div>

</div>