<div>
	<div id="navBar">
		<div class="headerTitle">Discover</div>
			<a href="/#/catetories"><img src="images/carot.png" id="backToProfile" /></a>
			<a href="/#/queue"><img src="images/headphone.png" id="headphone" /></a>
	</div>


	<div id="container">
		<div class="buddy cardBG1" style="display: block;">
			<div class="avatar"  style="display: block; background-image: url(images/logo.png)"></div>
			<div class="showInfo">
				<h1>Love + Radio</h1>
				<h2>Greetings from Coney Island</h2>
				<p>Rachel Price receives a mysterious letter from 1938.</p>
			</div>
		</div>
		<div class="buddy cardBG1" ng-repeat="style in tsCtrl.hitrailers track by $index">
			<div class="avatar" style="display: block; background-image: {{ style }}"></div>
		</div> 
	</div>


	<div id="previewActions">
		<a id="yesClick" class="showPointer"><img src="images/button_save.png" /></a>
		
  		<a id="noClick" class="showPointer"><img src="images/button_skip.png" /></a>
  		
  		<audio id="soundHandle" style="display:none;"></audio>

		<audio-qc  is-playing="tsCtrl.isPlaying">  </audio-qc>

	</div>

 </div>


  		

 