<div>
	<div id="navBar">
		<div class="headerTitle">Discover</div>
			<a href="/#/catetories"><img src="images/carot.png" id="backToProfile" /></a>
			<a href="/#/queue"><img src="images/headphone.png" id="headphone" /></a>
	</div>


	<div id="container">
		<div class="buddy cardBG1" style="display: block;" ng-repeat="episode in tsCtrl.episodes">
			<div class="avatar"  style="display: block; background-image: url({{tsCtrl.getImageURL(episode)}})"></div>
			<div class="showInfo">
				<h1>{{tsCtrl.getShowTitle(episode)}}</h1>
				<h2>{{tsCtrl.getEpisodeTitle(episode)}}</h2>
			</div>
			<div class="showInfoFriends">
				<p>Friends Who Have Like This</p>
				<img src="images/friends.png" />
			</div>
			<div class="showInfoTags">
				<p>Tags</p>
				<img src="images/tags.png" />
			</div>
			
		</div>
<!-- 		<div class="buddy cardBG1" ng-repeat="style in tsCtrl.hitrailers track by $index">
			<div class="avatar" style="display: block; background-image: {{ style }}"></div>
		</div>  -->
	</div>


	<div id="previewActions">
		<a id="yesClick" class="showPointer"><img src="images/button_save.png" /></a>
		
  		<a id="noClick" class="showPointer"><img src="images/button_skip.png" /></a>
  		
  		<audio id="soundHandle" style="display:none;"></audio>

		<audio-qc  is-playing="tsCtrl.isPlaying">  </audio-qc>

	</div>

 </div>


  		

 